<div class="col-lg-12 noticia">
    <h2>Perfil do personagem</h2>
      <p><b>Nome</b>: {{aeronave.name}}</p>        
      <p><b>Distância na velocidade da Luz</b>: {{aeronave.MGLT}}</p> 
                 
  </div> 